<!DOCTYPE html>
<html lang="ko" xmlns:th=http://www.thymeleaf.org>
<head th:replace="~{header :: headerFragment}">
    <title>뿜빠이</title></head>
<body>
<div th:replace="~{nav :: navFragment}"></div>
<main class="mt-5 pt-5">
    <div class="container">
        <!-- justify-content-center / d-flex justify-content-center 를 씀으로써 카드폼 가운데 정렬 -->
        <div class="row justify-content-center">
            <div class="col-12 text-center">
                <h2>현재 모집 중인 뿜빠이</h2>
            </div>
            <!-- Pagination controls -->
            <div class="col-12 text-center mt-3">
                <button type="button" class="btn btn-outline-primary" onclick="location.href='/meeting/insertMeeting'">
                    뿜빠이생성
                </button>
            </div>

            <th:block th:if="${detailList}!=null">
                <div class="mt-3">
                    <ul class="pagination justify-content-center">
                        <!-- Previous Page Link -->
                        <li class="page-item" th:class="${detailList.isFirst() ? 'disabled' : ''}">
                            <a class="page-link rounded-pill" th:href="@{/meeting/list(page=${detailList.currentPage - 1})}">&laquo; 이전</a>
                        </li>
                        <!-- Page Number Links -->
                        <li class="page-item" th:each="pageNum : ${#numbers.sequence(1, detailList.getTotalPages())}"
                            th:classappend="${pageNum == detailList.currentPage ? ' active' : ''}">
                            <a class="page-link rounded-pill" th:href="@{/meeting/list(content=${condition.keyword}, page=${pageNum})}"
                               th:classappend="${pageNum == detailList.currentPage ? ' bg-primary text-white' : ''}">[[${pageNum}]]</a>
                        </li>
                        <!-- Next Page Link -->
                        <li class="page-item" th:class="${detailList.isLast() ? 'disabled' : ''}">
                            <a class="page-link rounded-pill" th:href="@{/meeting/list(page=${detailList.currentPage + 1})}">다음 &raquo;</a>
                        </li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 col-sm-12 mt-5 d-flex justify-content-center"
                     th:if="${not #lists.isEmpty(detailList.keyword)}"
                     th:each="meetingList : ${detailList.keyword}">
                    <div class="card" style="width: 18rem;">
                        <img th:src="@{/imgs/meeting/{filename}(filename=${meetingList.fileName})}"
                             class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title"
                                th:text="|카테고리 : ${meetingList.getCategory().getDisplayName()}|"></h5>
                            <h6 class="card-title"
                                th:text="|현재상태 : ${meetingList.getMeetingStatus().getStatusType()}|"></h6>
                            <h5 class="card-title" th:text="${meetingList.getSubject}"></h5>
                            <p class="card-text"
                               th:text="'모 집 인 원 : '+${meetingList.getTotalMember()}+' / 현 재 원 : '+${meetingList.getPresentMember()}"/>
                            <a th:href="@{/meeting/detailMeeting(meetingId=${meetingList.meetingId})}"
                               class="btn btn-primary">모임
                                알아보기</a>

                        </div>
                    </div>
                </div>
            </th:block>
            <th:block th:if="${detailList}==null">
            </th:block>
        </div>
    </div>
</main>
<!-- 푸터 포함 -->
<div th:replace="~{footer :: footerFragment}"></div>
</body>
</html>