.border-none {
    border: none !important;     
}

.no-outline:focus {
    outline: none !important;
    box-shadow: none; 
}

.centered-main {
    display: flex;
    justify-content: center;
    align-items: center;
    width:100%;
    height:100%;
}
