<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head th:fragment="headerFragment">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{/css/ourstyle.css}"/>
    <link rel="stylesheet" th:href="@{/css/detailMeetingStyle.css}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.8.1/font/bootstrap-icons.min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>뿜빠이</title>
</head>
<body>

</body>
</html>