<!DOCTYPE html>
<html lang="en">

<head th:replace="~{head :: headerFragment}"/>


<body>
    <div th:replace="~{nav :: navFragment}"></div>
    <main class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <form id="join_form" class="needs-validation" method="post" th:action="@{/users/join}" enctype="multipart/form-data" th:object="${userRegisterForm}">
                    <div class="mb-3">
                        <label class="form-label" for="email">이메일</label>
                        <input class="form-control" th:field="*{email}" type="email" id="email" required/>
                        <div class="invalid-feedback">
                            이메일을 입력해주세요.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="password">패스워드</label>
                        <input class="form-control" th:field="*{password}" type="password" id="password" required/>
                        <div class="invalid-feedback">
                            패스워드를 입력해주세요.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="password_confirm">패스워드 확인</label>
                        <input class="form-control" type="password" id="password_confirm" required/>
                        <div class="invalid-feedback">
                            패스워드를 확인해주세요.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="user_name">닉네임</label>
                        <input class="form-control" th:field="*{userName}" type="text" id="user_name" required/>
                        <div class="invalid-feedback">
                            닉네임을 입력해주세요.
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="phone_number">전화번호</label>
                        <input class="form-control" th:field="*{phoneNumber}" type="text" id="phone_number"/>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="myself-memo">자기소개</label>
                        <textarea class="form-control" th:field="*{introduce}" id="myself-memo" rows="5"></textarea>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="birthdate">생년월일</label>
                        <input class="form-control" th:field="*{birthDate}" type="date" id="birthdate" name="birthdate" min="1920-01-01" max="2024-12-31"/>
                    </div>

                    <div class="mb-3">
                        <label for="profile_image" class="form-label">프로필 이미지</label>
                        <input class="form-control" th:field="*{profileImg}" type="file" id="profile_image"/>
                    </div>

                    <div id="preview_image" class="mb-3">
                        <span>미리보기</span>
                    </div>

                    <div class="d-flex justify-content-center col-auto">
                        <button type="submit" class="btn btn-primary mb-3">가입</button>
                    </div>
                </form>
            </div>
        </div>
    </main>

    <script th:src="@{js/bootstrap.bundle.min.js}"></script>
    <script>
        (() => {

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            const forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.from(forms).forEach(form => {
                form.addEventListener('submit', event => {
                    if (!form.checkValidity()) {
                        event.preventDefault()
                        event.stopPropagation()
                    }

                    form.classList.add('was-validated')
                }, false)
            })
        })()
        const password = document.getElementById("password");
        const passwordConfirm = document.getElementById("password_confirm");
        const joinForm = document.getElementById('join_form');
        joinForm.addEventListener('submit', (event) => {
            if (password.value != passwordConfirm.value) {
                event.preventDefault();
                alert("패스워드를 확인해주세요.");
            }
        })

        document.getElementById('profile_image').addEventListener('change', function(event) {
            const file = event.target.files[0];
            const preview = document.getElementById('preview_image');

            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    const img = document.createElement('img');
                    img.src = e.target.result;
                    img.alt = 'Profile Image Preview';
                    img.style.maxWidth = '300px';
                    img.style.maxHeight = '300px';
                    preview.appendChild(img);
                }
                reader.readAsDataURL(file);
            }
        });
    </script>

</body>
</html>