<!DOCTYPE html>
<html lang="ko" xmlns:th=http://www.thymeleaf.org>
<head th:replace="~{header :: headerFragment}">
    <title>뿜빠이</title></head>
<body>
<div th:replace="~{nav :: navFragment}"></div>
<main class="container centered-main mt-4">

    <header class="row d-flex align-items-start justify-content-center">
        <div class="col flex-shrink-0">
            <img th:src="@{/imgs/users/{imgUrl}(imgUrl=${userProfileDto.profileImgUrl})}" class="rounded float-start"
                 style="width: 30rem; height: 30rem;">
        </div>

        <div class="col align-self-center" style="width:30rem;">
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">MY PAGE</label>
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">이메일</label>
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com"
                       readonly th:value="${userProfileDto.email}">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput2" class="form-label">닉네임</label>
                <input type="email" class="form-control" id="exampleFormControlInput2" placeholder="name@example.com"
                       readonly th:value="${userProfileDto.userName}">
            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">자기소개</label>
                <textarea class="form-control" id="exampleFormControlTextarea1" style="resize:none;" rows="3" readonly
                          th:text="${userProfileDto.introduction}"></textarea>
            </div>
        </div>
    </header>
</main>

<div class="container centered-main mt-5" th:if="${#authentication.getPrincipal().userId}==${userProfileDto.userId}">
    <div class="d-flex justify-content-center accordion" style="width:61rem;">
        <div class="col accordion-item">
            <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                        aria-expanded="true" aria-controls="collapseOne">
                    참여한 뿜빠이
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse show" data-bs-parent="#accordionExample">
                <div class="accordion-body">

                    <form id="userTypeForm" action="#" method="get">
                        <input type="hidden" name="userId" th:value="${userProfileDto.userId}">
                        <div class="mb-3">
                            <label for="userTypeSelect" class="form-label">권한 선택</label>
                            <select class="form-select" id="userTypeSelect" name="userType"
                                    onchange="document.getElementById('userTypeForm').submit()">
                                <option value="">모든 권한</option>
                                <option value="LEADER" th:selected="${userType == 'LEADER'}">모임장</option>
                                <option value="FOLLOWER" th:selected="${userType == 'FOLLOWER'}">모임원</option>
                                <option value="WAIT" th:selected="${userType == 'WAIT'}">대기상태</option>
                            </select>
                        </div>
                    </form>
                    <!-- joinList가 null이 아닌 경우 테이블과 페이지네이션을 렌더링 -->
                    <div th:if="${joinList != null and not #lists.isEmpty(joinList.keyword)}">
                        <table class="table">
                            <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">제목</th>
                                <th scope="col">역할</th>
                                <th scope="col">뿜빠이 상태</th>
                                <th scope="col">바로가기</th>
                            </tr>
                            </thead>
                            <tbody th:each="joinLists : ${joinList.keyword}">
                            <tr>
                                <th scope="row"></th>
                                <td th:text="${joinLists.subject}"></td>
                                <td th:text="${joinLists.getUserType().userTypeName}"></td>
                                <td th:text="${joinLists.getMeetingStatus().getStatusType()}"></td>
                                <td><a th:href="@{/meeting/detailMeeting(meetingId=${joinLists.meetingId})}"
                                       class="btn btn-primary">모임</a></td>
                            </tr>
                            </tbody>
                        </table>
                        <div class="container">
                            <ul class="pagination justify-content-center">
                                <!-- Previous Page Link -->
                                <li class="page-item" th:classappend="${joinList.isFirst() ? ' disabled' : ''}">
                                    <a class="page-link rounded-pill"
                                       th:href="@{/users/{userId}(userId=${userProfileDto.userId}, page=${joinList.number - 1}, userType=${userType})}">&laquo;
                                        이전</a>
                                </li>
                                <!-- Page Number Links -->
                                <li class="page-item" th:each="pageNum : ${#numbers.sequence(1, joinList.totalPages)}"
                                    th:classappend="${pageNum == joinList.number ? ' active' : ''}">
                                    <a class="page-link rounded-pill"
                                       th:href="@{/users/{userId}(userId=${userProfileDto.userId}, page=${pageNum}, userType=${userType})}"
                                       th:classappend="${pageNum == joinList.number ? ' bg-primary text-white' : ''}">[[${pageNum}]]
                                    </a>
                                </li>
                                <!-- Next Page Link -->
                                <li class="page-item" th:classappend="${joinList.isLast() ? ' disabled' : ''}">
                                    <a class="page-link rounded-pill"
                                       th:href="@{/users/{userId}(userId=${userProfileDto.userId}, page=${joinList.number + 1}, userType=${userType})}">다음
                                        &raquo;
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <!-- joinList가 null이거나 joinList.keyword가 비어 있는 경우 메시지 표시 -->
                    <div th:if="${joinList == null or #lists.isEmpty(joinList.keyword)}">
                        <p>참여한 모임이 없습니다.</p>
                    </div>

                </div> <!-- end accordion-body -->
            </div> <!-- end collapseOne -->
        </div> <!-- end accordion-item -->
    </div> <!-- end accordion -->
</div>
<div th:replace="~{footer :: footerFragment}"></div>
</body>
</html>