<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosa.project.repository.mapper.UserMapper">

    <insert id="submit" parameterType="org.kosa.project.service.dto.CommentRequest" >
        insert into re_meeting(
                               re_Meeting_Id,
                               meeting_id,
                               user_id,
                               context
        )
        values (#{reMeetingId}, #{meetingId},#{userId}, #{comment})
    </insert>
    
    <select id="findById" parameterType="long" resultType="org.kosa.project.service.dto.CommentResponse">
        select re_meeting_id as reMeetingId, meeting_id as meetingId, user_id as userId, context as comment, reg_dt as regDate
        from re_meeting
        where id = #{value}
    </select>

</mapper>