<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosa.project.repository.mapper.CommentMapper">

    <insert id="submit" parameterType="org.kosa.project.service.dto.comment.CommentRequestDto" useGeneratedKeys="true" keyProperty="meetingCommentId" keyColumn="MEETING_COMMENT_ID">
        insert into MEETING_COMMENT(
                               meeting_id,
                               user_id,
                               context
        )
        values (#{meetingId}, #{userId}, #{content})
    </insert>

    <select id="findById" parameterType="long" resultType="org.kosa.project.service.dto.comment.CommentResponseDto">
        select MEETING_COMMENT_ID as meetingCommentId, meeting_id as meetingId, user_id as userId, context as content, reg_dt as regDate
        from MEETING_COMMENT
        where MEETING_COMMENT_ID = #{value}
    </select>

    <select id="findAll" parameterType="long" resultType="org.kosa.project.service.dto.comment.CommentResponseDto">
        select r.MEETING_COMMENT_ID as meetingCommentId,
               r.meeting_id as meetingId,
               r.user_id as userId,
               u.user_name as userName,
               r.context as content,
               to_char(r.reg_dt, 'yy-mm-dd hh24:mi') as regDate
        from MEETING_COMMENT r
                 join users u on u.user_id = r.user_id
        where r.meeting_id = #{value}
        order by r.MEETING_COMMENT_ID
    </select>

    <delete id="deleteById" parameterType="long">
        delete
        from MEETING_COMMENT
        where MEETING_COMMENT_ID = #{reMeetingId}
    </delete>

</mapper>
