<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosa.project.repository.mapper.MeetingMapper">
    <insert id="save" parameterType="org.kosa.project.controller.MeetingRegisterRequest">
        INSERT INTO MEETING (user_id, category, subject, context, total_member, file_name)
        VALUES (#{userId}, #{category}, #{subject}, #{context}, #{totalMember}, #{fileUploadUrl})
    </insert>

    <resultMap id="MeetingDetailDtoResultMap" type="org.kosa.project.service.dto.MeetingDetailDto">
        <id property="meetingId" column="meeting_id"/>
        <result property="userId" column="user_id"/>
        <result property="regionId" column="region_id"/>
        <result property="category" column="category"/>
        <result property="subject" column="subject"/>
        <result property="context" column="context"/>
        <result property="fileName" column="file_name"/>
        <result property="totalMember" column="total_member"/>
        <result property="presentMember" column="present_member"/>
        <result property="meetingStatus" column="status"/>
        <result property="regDate" column="reg_dt"/>
    </resultMap>

    <sql id="setCondition">
        <where>
            <choose>
                <when test="category =category = ''">
                    subject like "%"||#{content}||"%"
                </when>
                <when test="c">
                    c
                </when>
                <when test="">

                </when>
                <otherwise>
                    1=1
                </otherwise>
            </choose>
        </where>
    </sql>

    <select id="meetingList" resultMap="MeetingDetailDtoResultMap" parameterType="org.kosa.project.service.dto.SearchCondition">
        select *
        from (select meeting_id,
                     user_id,
                     category,
                     subject,
                     context,
                     file_name,
                     total_member,
                     present_member,
                     status,
                     reg_dt,
                     row_number() over (order by meeting_id desc, reg_dt desc) as rnum
              from meeting
              where meeting_id > 0
              <include refid="setCondition"/>
             )
            where rnum between ((#{condition.page} - 1) * #{pageSize}) + 1 and #{condition.page} * #{pageSize}
    </select>

    <select id="detailMeeting" resultMap="MeetingDetailDtoResultMap" parameterType="long">
        select meeting_id,
               user_id,
               region_id,
               category,
               subject,
               context,
               readcount,
               file_name,
               total_member,
               present_member,
               status,
               reg_dt
        from meeting
        where meeting_id = #{meetingId}
    </select>

    <select id="countMeetings" resultType="int">
        SELECT COUNT(*)
        FROM meeting
        <include refid="setCondition"/>
    </select>

    <resultMap id="UserMeetingDtoResultMap" type="org.kosa.project.service.dto.UserMeetingDto">
        <id property="meetingId" column="meeting_id"/>
        <result property="userName" column="user_name"/>
        <result property="userType" column="user_type"/>
        <result property="userId"   column="user_id"/>

    </resultMap>

    <select id="attendanceList" parameterType="long" resultMap="UserMeetingDtoResultMap" >
        SELECT
               u.user_name,
               u.user_id,
               um.meeting_id,
               um.user_type
        FROM user_meeting um
        JOIN users u ON um.user_id = u.user_id
        JOIN meeting m ON um.meeting_id = m.meeting_id
        WHERE um.meeting_id = #{meetingId}
    </select>

</mapper>

