<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.kosa.project.repository.mapper.UserMapper">

        <insert id="insertUser" parameterType="org.kosa.project.service.dto.user.UserRegisterForm">
            insert into users(email, phone_number, user_name, password, birth, myself_memo, profile_img_url)
            values (#{email},#{phoneNumber}, #{userName}, #{password}, #{birthDate}, #{introduce}, #{profileImgUrl})
        </insert>

        <select id="findUserProfileById" resultType="org.kosa.project.service.dto.user.UserProfileDto" parameterType="java.lang.Long">
            select user_id as userId, email, user_name as userName, phone_number as phoneNumber, myself_memo as introduction, profile_img_url as profileImgUrl
            from users
            where user_id = #{userId}
        </select>

        <select id="findUserByEmail" resultType="org.kosa.project.service.dto.user.UserDto" parameterType="String">
            select user_id as userId, email, user_name as userName, password
            from users
            where email = #{email}
        </select>
</mapper>

